.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 2% 10%;
    height: 35vw;
}

label[class^='MuiFormLabel'] {
    font-family: Open Sans !important;
    color:#e5e5e5 !important;
    font-style: italic !important;
    font-size: 1.5vw !important;
}

label[class^='jss'] {
    font-family: Open Sans !important;
    color:#e5e5e5 !important;
    font-style: italic !important;
    font-size: 1.5vw !important;
}

.text-field {
    width: 90% !important;
}

.cv-big {
    font-size: 3vw;
    color:#33b600;
    font-weight: 100;
    font-family: Open Sans;
    margin-top: 5vw
}

.cv-right{
    background-color: inherit;
    color:  #e5e5e5;
    display: flex;
    flex-direction: column;
   
    font-family: Open Sans;
}

.my-photo {
    height: 18vw;
    width: 18vw;
}

.cv-address {
    font-size: 1.1vw;
    margin-left: 10px;
}

.cv-main {
    display: flex;
    flex-direction: row;
}

.cv-small{
    font-size: 1.1vw;
    color:#e5e5e5;
    font-family: Open Sans;
    margin:0px;
}
.button {
    font-size: 1vw !important;
    border: 1px solid #33b600 !important;
    background-color: #252525 !important;
    color:#e5e5e5 !important;
    width: 14vw !important;
    font-family: Open Sans !important;
    border-radius: 0% !important;
    text-transform: none !important;
}

.button-form {
    width: 100% !important;
    font-size: 1.2vw !important;
}


.database-button {
    float: right;
    width: 14vw !important;
    font-size: 1vw !important;
    margin-top: 2vw !important;
}

.cv-button {
    margin-top: 2vw !important;
}

.rest-button {
    margin-top: 2vw !important;
    display: flex !important;
    justify-content: space-around !important;
}

.copy-right {
    border-top: 1px solid #e5e5e5;
    margin: 4% 10% 0% 10%;
}

.copy-right-paragraph {
    color: #e5e5e5;
    font-size: 0.7vw;
    margin-top: 2vw;
}


.cv-big:hover {
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    cursor: pointer;
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    from {
      mask-position: 150%;
    }
    
    to {
      mask-position: -50%;
    }
  }