.nav-bar {  
    display: flex;
    width: 100%;
    height: 85px;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #333;
}

.menu-item:hover{
    background-color: #4CAF50 !important;
    
}
.menu-link {
    color:    #333 !important;
}

.menu-link:hover {
    color:   white !important;
}

.nav {
    background-color: #444;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10% 0 10%;
    height: 75px;
}

.nav-link2 {
    font-family: Open Sans;
    color:#e5e5e5;
    height: 25px;
    display: flex;
    justify-content: space-between;
    width: 140px;
    align-items: center;
    cursor: pointer;
}

.nav-link2:hover {
    color: #33b600;
    width: 130px;
}

.nav-menu {
    padding-top: 0px !important;
     padding-bottom: 0px !important;
     background-color: #202020 !important;
     z-index: 10000 !important;
    
}

.nav-menu-item {
    color:#e5e5e5 !important;
}
.nav-menu-item:hover {
    color: #33b600 !important;
}