.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    
}
.f-trade-mark {
   
    left: 50px;
    width: 100%;
    height: 50px;
    background-color: rgb(253,106,2);
    color: white;
    box-shadow: 0 -7px 4px #777;
}
.load-more-button {
    margin-top: 100px !important;
    margin-bottom: 50px !important;
}
