.header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-trade-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(253,106,2);
    color: white;
    box-shadow: 0 7px 4px #777;
}

.table-header {
    background-color: rgb(200,200,200) !important;
}
.table-row {
    font-size: 20px !important;
    font-weight: 800;
}
