.login-form {
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group {
    border: 1px solid #33b600;
    width: 25vw;
    height: 25vw;
    background-color: #252525;
    display: flex;
    align-items: center;
    flex-direction: column;

}

input.login-input{
    text-align: center;
    border-radius: 0%;
    border-color: #33b600;
    color: #252525;
    font-size: 1vw;
    font-family: Open Sans;
    margin-top: 1vw;
    background-color: #e5e5e5;
    width: 80%;
}

.login-header {
    font-size: 2vw;
    font-family: Open Sans;
    margin: 2vw 0 0 0;
    font-weight: 300;
    color: #e5e5e5;
}

.login-button {
    margin-top: 1vw !important;
    width: 10vw !important;
    color: #252525 !important;
    background-color: #e5e5e5 !important;


}

.logout-form {
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}