.cv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#202020;
}

.cv-grey {
    background-color: #444;
    color:  #e5e5e5;
    width: 100vw;
    padding: 0 25% 0 10%;
    font-family: Open Sans;
}

.cv-grey2 {
    background-color: inherit;
    color:  #e5e5e5;
    display: flex;
    flex-direction: column;
   
    font-family: Open Sans;
}

.cv-white {
    background-color: #FFF;
    color: black;
    width: 45vw;
    height: 98%;
}

.my-photo {
    height: 18vw;
    width: 18vw;
}

.cv-address {
    font-size: 1.1vw;
    margin-left: 10px;
}

.cv-main {
    display: flex;
    flex-direction: row;
}

.cv-white-containter {
    font-size: 1vw;
    padding: 0vw 1vw 0vw 1vw
}

@media screen and (max-width: 950px){
  .cv-white {
    width: 70vw;
  }
}