.cv-white-box {
    background-color:white;
    height: 2.5vw;
    width: 2.5vw;
}

.cv-grey-box {
    background-color:grey;
    height: 2.5vw;
    width: 2.5vw;
}

.cv-software {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.cv-boxes {
    display: flex;
    justify-content: space-between;
}

.cv-box {
    height: 2.5vw;
    width: 2.5vw;
    margin: 1vw 1vw 1vw 1vw
}

.cv-software:hover {
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }