.skills-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center
}

.skills-title {
    color:  #33b600;
    font-size: 30px;
    font-family: Open Sans;
    letter-spacing: .2em;
    margin-left: 10%;
}

.skills-button {
    width: 100% !important;
    height: 100% !important;
    font-family: Open Sans !important;
    border-radius: 0% !important;
    color:  #33b600 !important;
}

.skills-link {
    font-size: 20px !important;
    font-family: Open Sans !important;
    width: 80% !important;
    height: 68px !important;
    margin-top: 12px !important;
    font-family: Open Sans !important;
    background-color: #252525 !important;
    border-radius: 0% !important;
}

.skills-link:hover {
    background-color: #505050 !important;
}
