.cv-skills-ul {
    list-style-type: none;
    padding: 0;
    font-size: 2.2vw;
    margin: 0;
}

.cv-skills-done {
    margin-right: 1vw !important;
    font-size: 1.3vw !important;

}

.cv-skills-title {
    font-size: 1.3vw;
    border: 0px;
    margin: 0px;
    margin-left: 1vw;
    margin-top: 1vw;
}

@media screen and (max-width: 750px){
    .cv-skills-ul {
        font-size: 3vw;
    }
    
    .cv-skills-done {
        font-size: 3vw !important;
    
    }
    
    .cv-skills-title {
        font-size: 3vw;
    }
}