.you-tube {
    display: flex;
    justify-content: space-around;
    background-color: inherit;
    margin: 2% 10% -2% 10%;
    height: 455px;
}

.hide {
    display: none;
}
.typewriter-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.typewriter {
    color:  #33b600;
    height: 40px;
    font-size: 30px;
    width: 423px;
    margin-bottom: 4vw !important;
    font-family: Open Sans;
    margin: 0;
    letter-spacing: .1em; 
  }


  @media screen and (max-width: 900px){
    .you-tube {
        flex-direction: column;
    }
 }