body {
  background-color: #202020 
}

a {
    text-decoration: none !important;
    outline: 0;
}

th { 
    color: #e5e5e5 !important;
    background-color: #33b600 !important;
    text-align: center !important;
}
tr:nth-child(even){
    background-color: #252525 !important;
    color: #e5e5e5 !important;
}

tr {
    color: #e5e5e5 !important;
    
}

td {
    color: #e5e5e5 !important;
    text-align: center !important;
    border-bottom: none !important;
}

table {
    border: 1px solid #33b600 !important;
}

@media screen and (max-width: 550px){

th { 
    padding: 0 !important;
    font-size: 10px !important;
}
     
td {
    padding: 0 !important;
    font-size: 10px !important;
}

.table-row {
    font-size: 10px !important;
}

.rest-table {
    width: 100% !important;
}

.copy-right {
    margin: 20% 10% 0% 10%;
}

.form-group {
    height: 29vw;
}
.nav-link2 {
    width: 90px;
}
.nav {
    font-size: 3vw;
    height: 40px;
}
.typewriter{
    height: 30px;
    font-size: 20px;
}

.you-tube {
    margin: 0;
}
.paper {
    width: 100%;
}
}

@media screen and (min-width: 1200px){
label[class^='MuiFormLabel'] {
    font-size: 1vw !important;
}

label[class^='jss'] {

    font-size: 1vw !important;
}

}