@import 'form/main-info.css'; 
@import 'form/terms.css'; 
@import 'form/form.css'; 
@import 'form/add-button.css';
@import 'rest-api-todo/todo.css';
@import 'rest-api-todo/header.css';
@import 'rest-api-todo/footer.css'; 
@import 'about-me/about-me.css'; 
@import 'about-me/skill-list.css'; 
@import 'about-me/boxes-skills.css'; 
@import 'about-me/you-tube.css'; 
@import 'about-me/skills-buttons.css';
@import 'login/login-form.css';
@import 'components/nav-bar.css';
@import 'components/footer.css';
@import './elements.css'; 
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";


.app {
    display: flex;
    flex-direction: column;
}
