.add-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%
}

.remove-button{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    margin-bottom:20px;
}