.paper {
    width: 75%;
    margin-top:20px;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-size: 1.8vw;
    font-weight: 580;
    color: #33b600;
    font-family: Open Sans;
}

.s-text {
    width: 48%;
}

.s-name {
    margin-right: 4% !important;
} 

/* .container {
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #303f9f;
} */